:root {
    --jet:rgb(49, 47, 47);
    --gold:rgb(239, 200, 139);
    --purple:rgb(115, 108, 237);
    --green:rgb(120, 132, 117);
}

html, body {
    background-color: var(--green);
}

/* nav text */
.NavText {
    color: var(--purple);
}

/* nav background colors */
.NavBackground {
    background-color: var(--gold);
}

/* nar bar padding */
.NavPadding-Name {
    padding-left: 10px;
}

/* spacing between my name and the nav links */
.NavPadding {
    padding-left: 80px;
}

/* background color */
.backgroundColor {
    background-color: var(--green);
}

/* about me profile picture */
.ProfileImage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    padding-left: 80px;
    padding-top: 80px;
}

/* about me text positioning */
.AboutMe-padding {
    padding-top: 120px;
}

/* about me text */
.AboutMe-text {
    color: var(--jet);
}

.portfolioImage {
    margin-top: 10%;
    margin-left:25%;
    height: 400px;
    width: 500px;
}

/* Resume div */

.Spacing {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.Resume-text {
    padding-left: 2%;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
}

.FooterLogo {
    height: 50px;
    margin-left: 50%;
    margin-bottom: 1%;
    margin-top: 2%;
}